<!-- <div class="form-container">
  <h2>Iniciar Sesion</h2>
    <div class="input_box">
      <input type="text" placeholder="">
      <span>Email</span>
    </div>
    <div class="input_box">
      <input type="password" placeholder="">
      <span>Password</span>
    </div>
    <button type="submit">Ingresar</button>
</div> -->
<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <input type="email" formControlName="email" placeholder="Email">

    <input type="password" formControlName="password" placeholder="Password">

    <button type="submit">Ingresar</button>

  </form>
</div>