<h2 mat-dialog-title>Crear Usuario</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="agregar">
  <mat-form-field appearance="fill">
    <mat-label>C.I.</mat-label>
    <input matInput placeholder="Placeholder" formControlName="ci">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="ci?.invalid">{{error_apellido()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Placeholder" formControlName="nombre">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="nombre?.invalid">{{error_nombre()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Apellido</mat-label>
    <input matInput placeholder="Placeholder" formControlName="apellido">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="apellido?.invalid">{{error_apellido()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Placeholder" formControlName="username">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="username?.invalid">{{error_username()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Placeholder" type="password" formControlName="password">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="password?.invalid">{{error_password()}}</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Rol</mat-label>
    <input matInput placeholder="Placeholder" formControlName="rol">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Imagen</mat-label>
    <input matInput placeholder="Placeholder" formControlName="imagen">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="imagen?.invalid">{{error_imagen()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Placeholder" type="email" formControlName="email">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="email?.invalid">{{error_email()}}</mat-error>
  </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-secondary">Cancelar</button>
  <button [mat-dialog-close]="agregar" class="btn btn-primary" [disabled]="agregar.invalid">Agregar</button>
</mat-dialog-actions>