<hr>
  <H4>SESIONES</H4>
<hr>
<!-- <button mat-button (click)="openDialog()">Crear Membresia</button> -->
<div style="display:flex; gap:15px;">
  <mat-form-field appearance="outline">
  <mat-label>Mes</mat-label>
  <mat-select [(value)]="mesSeleccionado" (selectionChange)="filtrarSesiones()">
    <mat-option *ngFor="let mes of meses" [value]="mes.valor">
      {{ mes.nombre }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Año</mat-label>
  <mat-select [(value)]="anioSeleccionado" (selectionChange)="filtrarSesiones()">
    <mat-option *ngFor="let anio of anios" [value]="anio">
      {{ anio }}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<div style="display:flex; justify-content: space-between; align-items: center; margin-bottom:20px;">

  <!-- izquierda -->
  <h3 style="margin:0;">
    Sesiones de {{ getNombreMes() }} {{ anioSeleccionado }}
  </h3>

  <!-- derecha -->
  <div style="display:flex; gap:30px;">
    <p style="margin:0;"><strong>Total sesiones:</strong> {{ totalSesiones }}</p>
    <p style="margin:0;"><strong>Total Bs:</strong> {{ totalMonto }} Bs.</p>
  </div>

</div>

<table class="table">
  <thead class="table-dark table-sm">
    <tr>
        <th>#</th>
        <th>Plan</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Detalle</th>
        <th>Disciplina</th>
        <th>Opcion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of membresias;let i=index">
        <td>{{i+1}}</td>
        <td>{{item.plan}}</td>
        <td>{{item.monto}}</td>
        <td>{{ item.created_at | date:'yyyy-MM-dd' }}</td>
        <td>{{item.detalle}}</td>
        <td>{{item.disciplina}}</td>
        <td>
            <!-- <button class="btn btn-sm btn-success" (click)="actualizar(item)"><mat-icon>refresh</mat-icon></button>
            <button class="btn btn-sm btn-danger" (click)="eliminar(item)"><mat-icon>delete_sweep</mat-icon></button> -->
        </td>
    </tr>
  </tbody>
</table>