<mat-dialog-content>
  <mat-tab-group>

    <mat-tab label="Datos generales">
      <div class="p-2">
        <!-- contenido tab 1 -->
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="data.nombre">
        </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Pagos">
      <div class="p-2">
        <!-- contenido tab 2 -->
        <mat-form-field appearance="fill">
          <mat-label>Monto</mat-label>
          <input matInput type="number" [(ngModel)]="data.monto">
        </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Detalle">
      <div class="p-2">
        <!-- contenido tab 3 -->
        <textarea matInput [(ngModel)]="data.detalle"></textarea>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <!-- <button mat-button color="primary" (click)="guardar()">Guardar</button> -->
</mat-dialog-actions>