<hr>
  <H4>Clientes</H4>
<hr>
<button mat-button (click)="openDialog()">Crear Cliente</button>

<table class="table">
  <thead class="table-dark table-sm">
    <tr>
        <th>#</th>
        <th>C.I.</th>
        <th>Nombre Completo</th>
        <th>Cuenta</th>
        <th>Rol</th>
        <th>Imagen</th>
        <th>Opcion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clientes;let i=index">
        <td>{{i+1}}</td>
        <td>{{item.ci}}</td>
        <td>{{item.nombre}} {{item.apellido}}</td>
        <td>{{item.email}}</td>
        <td>{{item.rol}}</td>
        <td>
            <img appImagenRota src="{{llenar_imagen(item.imagen)}}" height="50px" width="50px" alt="">
        </td>
        <td>
            <button class="btn btn-sm btn-success" (click)="actualizar(item)"><mat-icon>refresh</mat-icon></button>
            <button class="btn btn-sm btn-danger" (click)="eliminar(item)"><mat-icon>delete_sweep</mat-icon></button>
            <button mat-button (click)="openDialog()">Registrar Plan</button>
        </td>
    </tr>
  </tbody>
</table>